<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shaniya's Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color: rgb(158, 71, 71); color: white;"> 
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
    <!-- Brand/logo -->
    <a class="navbar-brand" href="/home">
  
      <!-- Logo and title -->
      <img src="../static/images/logo.png" width="60" th:src="@{images/logo.png}"/>
      Shaniya's Profile
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Edit</a>
      </li>
    </ul>
  </nav>

  <!-- Profile picture and biography -->
  <div class="container" style="margin-top: 100px;">
    <div class="row no gutters">
      <div class="col">
        <img th:src="${imgSrc}" onerror="this.src= 'images/prof_pic.png';" width="300" height="300" style="border-radius: 2%; border-style: solid;">
      </div>
      <div class="col-8" style="margin-top: 20px;">
        <h2 class="name">Shaniya Malcolm</h2>
        <p class="biography" style="padding-top: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In luctus fringilla tortor. Cras eget arcu enim. Etiam et libero id erat accumsan hendrerit. Morbi consequat lobortis lacus sed mattis. Nam fermentum felis ac orci euismod commodo. Maecenas sed odio ac leo sollicitudin vulputate vel nec metus. Proin consectetur felis sed leo mattis faucibus. Pellentesque ornare faucibus ornare. Sed aliquam accumsan sapien non mollis. Duis quis nunc at felis mollis egestas ac eleifend lectus. Donec rhoncus interdum euismod. Phasellus vehicula varius risus, at pulvinar odio maximus id.</p>
      </div>
    </div> 
  </div>
</body>
</html>