<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add a User</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  
        <!-- Brand/logo -->
        <a class="navbar-brand" href="/home">
      
          <!-- Logo and title -->
          <img src="../static/images/logo.png" width="60" th:src="@{images/logo.png}"/>
          Shaniya's Profile
        </a>
        
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">Edit</a>
          </li>
        </ul>
    </nav>
    
    <form action="/add" method="post">

        <input type="text" name="name" id="name">
        <input type="email" name="email">
        <input type="submit" value="Submit">
    </form>
</body>
</html>